/* Extra small devices (phones) */
@media (max-width: 575.98px) {
    /* CSS styles for extra small devices */

    * {
        font-size: 70%;
    }

    .calendar-section {
        padding: 20px;
        gap: 15px;
    }

    .header-main {
        margin-top: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 100%;
    }

    .header-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .header-description {
        font-size: 1.5625rem;
        text-align: center;
    }

    .header {
        gap: 10px;
        padding: 50px 20px 0px 20px;
    }

    .header-button {
        margin: 0 auto;
    }

    .news-card-wrapper {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 60%;
        padding: 54px 35px 70px 42px;
        background-position: 50% 50%;
    }


    .news-img {
        width: 500px;
    }


    .news-main {
        gap: 10px;
        padding: 0 20px 20px 32px;
    }

    .partner-main {
        gap: 50px;
    }


    .news-section {
        padding: 80px 10px;
    }

    .orgPartners-section {
        padding: 60px 0;
    }

    .news-button {
        margin-top: 0;
    }


    .calendar-section {
        display: grid;
        grid-template-rows: 0.9fr 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .calendar-card {
        max-width: 300px;
    }

    .calendar-left {
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .calendar-names {
        margin-top: 20px;
    }

    .calendar-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .header-bg {
        background: url("../img/header-bg.png");
        background-repeat: no-repeat;
        background-size: 200%;
        height: 60vh;

    }


    .news-cards {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    .orgPartners-section img {
        width: 32%;
        scale: 0.55;
    }

    .orgPartners-section h2 {
        font-size: 2.5rem;
    }

    .partner-main {
        gap: 10px;
    }

    .partner-img-lower {
        margin-bottom: 15px;
    }

    .slide {
        width: 400px;
        height: 400px;
    }

    .slider-arrowsDots-block {
        margin-top: 40px;
    }

    .footer {
        padding: 60px 0px 60px 0px;
        grid-row-gap: 45px;
        grid-template-rows: 0.6fr 1fr;
        grid-template-columns: 360px;
    }

    .footer-down {
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .footer-left-block {
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer-nav {
        align-items: center;
        gap: 15px;
    }

    .footer-right-block {
        margin: 0 40px;
        align-items: center;
    }

    .partners-section {
        padding: 30px 10px 110px 10px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
    }

    .partners-card {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        justify-content: space-between;
        padding: 20px;
        height: 100%;
    }

    .partners-card-center {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        justify-content: space-between;
        padding: 20px;
        height: 100%;
    }

    .partners-card-wrapper {
        height: 250px;
    }

    .calendar-el {
        padding: 4px 9px;
    }

    .footer-info {
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .employees-section {
        padding: 40px 0;
        padding-bottom: 200px;
    }

    .slider {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 250px;

    }

    .slick-track {
        padding: 40px 0;
    }

    .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 330px;
        height: 330px;
        z-index: 0;
        scale: 1;
        filter: blur(0px);
    }

    .employ-photo {
        margin: 0 auto;
        margin-bottom: -70px;
        z-index: 5;
    }

    .employ-main {
        border-radius: 10px;
        background: #FFF;

        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    .employ-name {
        color: var(--text, #000);
        font-family: Circe;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 40px;
    }

    .employ-text {
        color: #6B6B6B;
        font-family: Circe;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .employ-desc {
        color: #8B8B8B;
        font-family: Circe;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .footer-description {
        text-align: center;
    }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS styles for small devices */

    * {
        font-size: 85%;
    }

    .wrapper {
        max-width: 576px;
    }

    .calendar-section {
        padding: 20px;
        gap: 15px;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-description {
        font-size: 1.5625rem;
    }

    .header {
        gap: 10px;
        padding: 50px 50px 0px 75px;
    }

    .news-card-wrapper {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 60%;
        padding: 54px 35px 70px 42px;
        background-position: 50% 50%;
    }


    .news-img {
        width: 500px;
    }


    .news-main {
        gap: 10px;
        padding: 0 20px 20px 32px;
    }

    .partner-main {
        gap: 50px;
    }


    .news-section {
        padding: 80px 10px;
    }

    .orgPartners-section {
        padding: 60px 0;
    }

    .news-button {
        margin-top: 0;
    }


    .calendar-section {
        display: grid;
        grid-template-rows: 0.9fr 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .calendar-card {
        max-width: 300px;
    }

    .calendar-left {
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .calendar-names {
        margin-top: 20px;
    }

    .calendar-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .header-bg {
        background: url("../img/header-bg.png");
        background-repeat: no-repeat;
        background-size: 150%;
        height: 135vh;

    }


    .news-cards {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    .orgPartners-section img {
        width: 32%;
        scale: 0.55;
    }

    .orgPartners-section h2 {
        font-size: 2.5rem;
    }

    .partner-main {
        gap: 10px;
    }

    .partner-img-lower {
        margin-bottom: 15px;
    }

    .slide {
        width: 400px;
        height: 400px;
    }

    .slider-arrowsDots-block {
        margin-top: 40px;
    }

    .footer {
        padding: 0px 10px 60px 10px;
        grid-row-gap: 45px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .footer-left-block {
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer-nav {
        align-items: center;
        gap: 15px;
    }

    .footer-right-block {
        margin: 0 40px;
        align-items: center;
    }

    .partners-section {
        padding: 30px 10px 110px 10px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
    }

    .partners-card {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        justify-content: space-between;
        padding: 20px;
        height: 100%;
    }

    .partners-card-center {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        justify-content: space-between;
        padding: 20px;
        height: 100%;
    }

    .partners-card-wrapper {
        height: 250px;
    }

    .calendar-el {
        padding: 10px 20px;
    }

    .footer-info {
        margin: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/* Medium devices (laptops) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* CSS styles for medium devices */

    * {
        font-size: 85%;
    }

    .wrapper {
        max-width: 768px;
    }



    .calendar-section {
        padding: 20px;
        gap: 15px;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-description {
        font-size: 1.5625rem;
    }

    .header {
        gap: 10px;
        padding: 50px 120px 0px 75px;
    }

    .news-card-wrapper {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 60%;
        padding: 54px 35px 70px 42px;
        background-position: 50% 50%;
    }


    .news-img {
        width: 500px;
    }


    .news-main {
        gap: 10px;
        padding: 0 20px 20px 32px;
    }

    .partner-main {
        gap: 50px;
    }


    .news-section {
        padding: 80px 10px;
    }

    .orgPartners-section {
        padding: 60px 0;
    }

    .news-button {
        margin-top: 0;
    }


    .calendar-section {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .calendar-card {
        max-width: 300px;
    }

    .calendar-left {
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .calendar-names {
        margin-top: 20px;
    }

    .calendar-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .header-bg {
        background: url("../img/header-bg.png");
        background-repeat: no-repeat;

        height: 120vh;

    }


    .news-cards {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    .orgPartners-section img {
        width: 32%;
        scale: 0.55;
    }

    .orgPartners-section h2 {
        font-size: 2.5rem;
    }

    .partner-main {
        gap: 10px;
    }

    .partner-img-lower {
        margin-bottom: 15px;
    }

    .slide {
        width: 400px;
        height: 400px;
    }

    .slider-arrowsDots-block {
        margin-top: 40px;
    }

    .footer {
        padding: 92px 10px 100px 10px;
        grid-row-gap: 45px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .footer-left-block {
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer-nav {
        align-items: center;
        gap: 15px;
    }

    .footer-right-block {
        margin: 0 40px;
    }

    .partners-section {
        padding: 110px 10px 120px 10px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS styles for large devices */

    * {
        font-size: 85%;
    }

    .wrapper {
        max-width: 992px;
    }

    .footer {
        padding: 92px 10px 100px 10px;
        grid-column-gap: 45px;
    }

    .calendar-section {
        padding: 20px;
        gap: 15px;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-description {
        font-size: 1.5625rem;
    }

    .header {
        gap: 10px;
        padding: 50px 120px 0px 75px;
    }

    .news-card {
        max-width: 200px;
        gap: 15px;
    }

    .news-img {
        max-width: 200px;
    }


    .news-main {
        gap: 10px;
        padding: 0 20px 20px 32px;
    }

    .partner-main {
        gap: 50px;
    }


    .news-section {
        padding: 80px 10px;
    }

    .orgPartners-section {
        padding: 60px 0;
    }

    .news-button {
        margin-top: 0;
    }


}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) and (max-width: 1439.98px) {

    /* CSS styles for extra large devices */
    .wrapper {
        max-width: 1200px;
    }

    .footer {
        padding: 92px 50px 100px 50px;
    }

    .calendar-section {
        padding: 70px;
    }

}

@media (min-width: 1400px) {
    .wrapper {
        max-width: 1400px;
    }
}